{% extends "webapp_main/base_html.html" %}

<!--remove the nav elements from login page-->
{% block nav %}
{% endblock nav %}

{% block content %}
    <div id="logout-dialog" class="col-11 col-lg-7 m-auto mt-5 p-2 custom-border">

        <h1 class="custom-head-font text-white text-center">You Have Been Logged Out...</h1>
        <p class="font-roboto text-white text-center"><a href="{% url 'news-home' %}" style="text-decoration:none;">Click Here</a> to contine....</p>
        
    </div>
{% endblock content %}