@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

ul {
    list-style-type: none;
}

td {
    padding: 6px;
}

/* IDs styles */

#main-body {
    background-color: #0E0E0E;
    overflow: scroll;
}

#menu-button a svg{
    margin: 0px;
}

#top-input form label{
    display: none;
}

#article-title {
    font-family: 'Roboto';
}

#article-content{
    font-family: 'Raleway';
}

#calendar-input form label{
    display: none;
}

#footer a{
    text-decoration: none;
}

#logout-dialog a:hover{
    color: #FFC572;
}

/* class styles */

.blk{
    background-color: #0E0E0E;
}

.font-roboto{
    font-family: 'Roboto';
    text-decoration: none;
}

.custom-border {
    border-style: solid;
    border-color: #4A4A4A;
    border-width: 1px;
}

.custom-header {
    background-color: #1a1b20;
}

.custom-head-font {
    font-family: 'Oswald';
}

.custom-font-section {
    font-family: 'Raleway';
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;    

    background-color: #1a1b20;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #FFFFFF;
    text-transform: capitalize;
}

.sidebar .nav-link .feather {
    margin-right: 10px;
    color: #FFFFFF;
}

.sidebar a:hover{
    background-color: #34353fa6;
}

.article-section {
    background-color: #1a1b20;
}

.article-section a {
    text-decoration: none;
    font-weight: 500;
    font-size: larger;
    font-family: 'Roboto';

    color: #F7F6F3;
}

.article-section a:hover {
    color: #FFC572;
}

.image-article{
    max-width: 140px;
    height: auto;
}

.meta-source{
    font-family: 'Roboto Mono';
    font-size: 12px;
    color: #E2896C;
}

.footer-bar{
    background-color: #1a1a1a;
    padding: 10px;
}

/*Login and Logout Styles*/
.custom-table {
    border: none;
}

/* mobile styling*/

@media (max-width: 767.98px) {
    .sidebar {
      top: 0;
      position: static;
    }

    #nav-links{
        display: none;
    }

  }